<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta</title>
    <link href="/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
       .navbar-brand {
           font-size: xx-large;
           font-family: Tahoma;
       }
       .produk {
           list-style-type: georgian;
           display: flex;
           height: 140px; /* Adjust the height as needed */
           align-items: center; /* Align items vertically in the center */
       }
       .item {
           flex-grow: 1;
           flex-basis: 200;
       }
       .advertisement-page {
           background-color: #007bff; /* Change to the desired primary color */
       }
       .auction {
           margin-bottom: 20px; /* Adjust the margin as needed */
       }
       .bestseller {
           height: 170px;
       }
    </style>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container">
                <h1><a class="navbar-brand" href="#">Delta</a></h1>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <button class="btn btn-primary" type="button">Login</button>
            </div>
        </nav>
        <ul class="nav justify-content-center trending">
            <li class="nav-item"><a class="nav-link active" href="#">Ikan Bandeng</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Ikan Gurame</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Ikan Lele</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Udang</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Kepiting</a></li>
        </ul>
    </div>

    <div class="container mt-5 advertisement-page">
        <div class="row">
            <div class="col-md-8 mt-4">
                <div class="card adv">
                    <div class="card-body">
                        <h5 class="card-title">Advertisement</h5>
                        <img src="/img/advertisement.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <div class="card auction">
                            <div class="card-body">
                                <h5>Ikuti Pelelangan Ikan Sekarang !!!</h5>
                                <img src="/img/auction.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-0">
                        <div class="card auction">
                            <div class="card-body">
                                <h5>Trending !!!</h5>
                                <div class="row produk ">
                                    <div class="produk-1 col-md-6"><a href="#">Ikan Laut</a></div>
                                    <div class="produk-2 col-md-6"><a href="#">Ikan Tambak</a></div>
                                    <div class="produk-3 col-md-6"><a href="#">Kepiting</a></div>
                                    <div class="produk-4 col-md-6"><a href="#">Udang</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bestseller Section -->
    <div class="container mt-5 bg-danger bestseller">
        <div class="row">
            <div class="col-4 d-grid bg-black justify-content-center align-items-center bestseller">
                <img src="/img/bestseller.jpg" class="img-fluid mx-auto" width="100px" alt="">
                <h3 class="text-white text-center">BestSeller</h3>
            </div>
            <div class="col-8 ">
               
                    
                       
                           
                       
                      
                  
                    <!-- how do i fukin use overflow-->
                </div>
            </div>
            </div>
        </div>
    </div>

    <div>
        <!-- Additional content -->
    </div>
</body>
</html>
