<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta</title>
    <link href="/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-brand {
            font-size: xx-large;
            font-family: Tahoma;
        }

        body {
            background-color: slateblue;
        }

        .produk {
            list-style-type: georgian;
            display: flex;
            height: 140px;
            /* Adjust the height as needed */
            align-items: center;
            /* Align items vertically in the center */
        }

        .item {
            flex-grow: 1;
            flex-basis: 200;
        }

        .advertisement-page {
            background-color: #007bff;
            /* Change to the desired primary color */
        }

        .auction {
            margin-bottom: 20px;
            /* Adjust the margin as needed */
        }

        .bestseller {
            height: 320px;
        }

        .horizontal-scroll {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
        }

        .h-10vh {
            height: 30vh;
        }

        .horizontal-scroll .item {
            min-width: 12rem;
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <div class="header bg-info">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <h1><a class="navbar-brand" href="#">Delta</a></h1>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <button class="btn btn-primary" type="button">Login</button>
            </div>
        </nav>
        <ul class="nav justify-content-center trending">
            <li class="nav-item"><a class=" text-white nav-link active" href="#">Penawaran Terbaru !</a></li>
            <li class="nav-item"><a class="text-white nav-link" href="#">Produk Terbaru !</a></li>
            <!-- <li class="nav-item"><a class="nav-link" href="#">Ikan Lele</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Udang</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Kepiting</a></li> -->
        </ul>
    </div>

    <div class="container mt-5 advertisement-page">
        <div class="row">
            <div class="col-md-8 mt-4">
                <div class="card adv">
                    <div class="card-body">
                        <h5 class="card-title">Advertisement</h5>
                        <img src="/img/advertisement.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <div class="card auction">
                            <div class="card-body">
                                <h5><a href="/auction.html">Ikuti Pelelangan Ikan Sekarang !!!</a></h5>
                                <img src="/img/auction.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-0">
                        <div class="card auction">
                            <div class="card-body">
                                <h5></h5>
                                <div class="row produk ">
                                    <div class="produk-1 col-md-6"><a href="#">Kategori</a></div>
                                    <div class="produk-2 col-md-6"><a href="#">Produk Ekspor</a></div>
                                    <div class="produk-3 col-md-6"><a href="#">Banyak Diminati</a></div>
                                    <!-- <div class="produk-4 col-md-6"><a href="#">Udang</a></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bestseller Section -->
    <div class="container mt-5 bg-danger bestseller">
        <div class="row">
            <div class="col-4 d-grid bg-black justify-content-center align-items-center bestseller">
                <img src="/img/bestseller.jpg" class="img-fluid mx-auto" width="100px" alt="">
                <h3 class="text-white text-center">BestSeller</h3>
            </div>
            <div class="col-8 ">
                <div class="row">
                    <div class="horizontal-scroll mt-3">
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>
                        <div class="card item" style="width: 12rem; border-radius: 20%;">
                            <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Prices</h5>
                                <a href="#" class="btn btn-primary">Buy here</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- List IWAKKKK -->

    <div class="container bg-tertiary mt-5">
        <div class="row">
            <div class="card col-4">
                <div class="card-body">
                    <h5 class="card-title">Filter Your FISHES !</h5>
                </div>
                <form action="">
                    <div class="mb-3">
                        <label for="" class="form-label">Lingkungan Hidup</label>
                        <select class="form-select form-select-lg" name="" id="">
                            <option selected>Air Laut </option>
                            <option value="">Air Tawar</option>
                            <option value="">Tambak</option>
                            <option value="">Kapal Lawd</option>
                        </select>
                        <label for="" class="form-label">Ukuran Ikan</label>
                        <select class="form-select form-select-lg" name="" id="">
                            <option selected>1-10 Cm</option>
                            <option value="">11-20 Cm</option>
                            <option value="">21-30 Cm</option>
                            <option value="">>31 Cm</option>
                        </select>
                        <button type="submit" class="btn btn-primary mt-3">
                            Submit
                        </button>

                    </div>

                </form>
            </div>
            <div class="col-1"></div>
            <div class="col-7 card">
                <div class="card-body">
                    <h5 class="card-title">List of Mighty Fishes</h5>
                </div>
                <div class="horizontal-scroll">
                    <div class="card item" style="width: 12rem; border-radius: 20%;">
                        <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Prices</h5>
                            <a href="#" class="btn btn-primary">Buy here</a>
                        </div>
                    </div>
                    <div class="card item" style="width: 12rem; border-radius: 20%;">
                        <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Prices</h5>
                            <a href="#" class="btn btn-primary">Buy here</a>
                        </div>
                    </div>
                    <div class="card item" style="width: 12rem; border-radius: 20%;">
                        <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Prices</h5>
                            <a href="#" class="btn btn-primary">Buy here</a>
                        </div>
                    </div>
                    <div class="card item" style="width: 12rem; border-radius: 20%;">
                        <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Prices</h5>
                            <a href="#" class="btn btn-primary">Buy here</a>
                        </div>
                    </div>
                    <div class="card item" style="width: 12rem; border-radius: 20%;">
                        <img class="img-thumbnail" src="/img/ikan1.jpeg" style="width: 12rem;" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Prices</h5>
                            <a href="#" class="btn btn-primary">Buy here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 bg-light h-10vh d-flex justify-content-center align-items-center">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">&copy; Society.co </p>

                <a href="/"
                    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
            </footer>
        </div>

    </div>
</body>

</html>